<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [76]:
t = ("disco", 12, 4.5,[10,20])
t

('disco', 12, 4.5, [10, 20])

In [77]:
type(t)

tuple

In [4]:
t[0][3]= 't'

TypeError: 'str' object does not support item assignment

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [5]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

#### single value tuple

In [6]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [7]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [10]:
sample_tuple1 = 1   #This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

In [ ]:
# gives the last element from tuple
t[-1]

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

In [ ]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

In [ ]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

#### Cancatenating tuples

In [ ]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

#### sum() - min() - max()

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

### Immutability of tuples

In [ ]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

In [ ]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [ ]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [ ]:
L = ["India", 23, 6, "Mumbai"]

L

In [ ]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

In [13]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [18]:
L[-1][-1]

'Pearson'

In [19]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [23]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [24]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [41]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [35]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5,8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [36]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [44]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson')]

In [38]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [39]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [40]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [49]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

#### Shallow Copying

In [70]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [72]:
A

['Apple', 'Strawberry', 'Mango']

In [73]:
id(A)

86593480

In [ ]:
B

In [74]:
id(B)

86593480

In [51]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [52]:
A

['Apple', 'Strawberry', 'Mango']

In [53]:
B

['Orange', 'Strawberry', 'Mango']

In [66]:
id(A)
id(B)

85543848

In [67]:
id(B)

85543848

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [54]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [55]:
len(set_l)

5

In [56]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [57]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [58]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [11]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [12]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [61]:
print(A & B) # Intersection

{2, 4}

In [62]:
print(A - B) # Difference

{0, 8, 6}

In [63]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary
{"India" : "INR", "USA" : "USD", "France" : "Euros"}
d = 

# Access value using keys

d["India"]

In [ ]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

In [ ]:
# Deleting a key value pair

del d["France"]

d

In [6]:
# Sorting a dictionary

sorted(d)

['France', 'India', 'USA']

In [1]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
x=d.values()
print(x)
type(x)

dict_values(['INR', 'USD', 'Euros'])

dict_values

In [2]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [3]:
# Updat() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}

In [37]:
x={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}
x.update({104:27,140:27,164:27})
del x[143]
print(x)
x.values()

{101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 27, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

dict_values([43, 25, 43, 27, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 27, 29, 33, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 27, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [43]:
z=[43, 25, 43, 27, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 27, 29, 33, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 27, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27]
avg=sum(z)/len(z)
print(avg)

31.136986301369863